**/tarball
**/KEYS
**/apache-keys*
**/apache-tomcat-*.exe
**/apache-tomcat-*.exe.asc
**/apache-tomcat-*.exe.sha512
**/apache-tomcat-*.tar.gz
**/apache-tomcat-*.tar.gz.asc
**/apache-tomcat-*.tar.gz.sha512
**/apache-tomcat-*.zip
**/apache-tomcat-*.zip.asc
**/apache-tomcat-*.zip.sha512
