bin/tarball
bin/KEYS
bin/apache-keys*
bin/apache-tomcat-*.exe
bin/apache-tomcat-*.exe.asc
bin/apache-tomcat-*.exe.sha512
bin/apache-tomcat-*.tar.gz
bin/apache-tomcat-*.tar.gz.asc
bin/apache-tomcat-*.tar.gz.sha512
bin/apache-tomcat-*.zip
bin/apache-tomcat-*.zip.asc
bin/apache-tomcat-*.zip.sha512
